$colorDivider: #DDD;

.calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.month-header {
    display: flex;
    border-bottom: 1px solid $colorDivider;
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #000;

    &:hover {
        background-color: #EEE;
    }
}

.prev {
    border-right: 1px solid $colorDivider;
}

.next {
    border-left: 1px solid $colorDivider;
}

.month {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.date-headers {
    display: flex;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid $colorDivider;
}

.date-header {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.dates {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.date-row {
    flex: 1;
    display: flex;
    border-bottom: 1px solid $colorDivider;
    &:last-child {
        border-bottom: 0;
    }
}

.date-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $colorDivider;
    &:last-child {
        border-right: 0;
    }
}

.date {
    padding: 5px;
    font-size: .8em;
}

.events {
    flex: 1;
}


